<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C Quoi Le Jeu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.svg') }}" type="image/png">
</head>
<body>
    <video autoplay muted loop id="background-video">
        <source src="{{ url_for('static', filename='background.webm') }}" type="video/webm">
    </video>
    <div class="header">
        <!-- En-tête avec logo et menu utilisateur -->
        <div class="logo-container" onclick="location.href='/'">
            <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo" class="logo">
            <span class="site-name">C Quoi Le Jeu</span>
        </div>
        {% if username %}
        <div class="user-menu">
            <button class="user-button">{{ username }}</button>
            <div class="dropdown-content">
                <a href="{{ url_for('my_games') }}">Mes parties</a>
                <a href="{{ url_for('settings') }}">Paramètres</a>
                <a href="{{ url_for('logout') }}">Déconnexion</a>
            </div>
        </div>
        {% endif %}
    </div>
    <div id="home-page" class="game-container">
        <!-- Page d'accueil avec instructions et bouton pour démarrer le jeu -->
        <h1>Bienvenue sur C Quoi Le Jeu !</h1>
        <p>Le but du jeu est de deviner le nom d'un jeu vidéo à partir d'une image. Entrez votre réponse dans la barre de texte et appuyez sur Entrée ou cliquez sur Soumettre.</p>
        <label for="game-count">Nombre de jeux à deviner :</label>
        <select id="game-count">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15" selected>15</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="27">27 (max)</option>
            <!-- Changer le nombre au fur et à mesure des ajouts de jeu -->
        </select>
        <button id="start-button">Jouer !</button>
    </div>
    <div id="game-page" class="game-container" style="display: none;">
        <!-- Page de jeu avec image, entrée de réponse et feedback -->
        <div id="game-image-container">
            <img id="game-image" src="" alt="Game Image">
            <button id="return-home-button" style="display: none;">Retourner à l'accueil</button>
        </div>
        <div class="input-bar">
            <input type="text" id="game-name-input" placeholder="Nom du jeu">
            <button id="submit-button">Soumettre</button>
            <button id="skip-button">Passer</button>
            <div id="suggestions-container"></div> <!-- Conteneur pour les suggestions -->
        </div>
        <div id="feedback"></div>
        <div id="score-container">
            <p>Score : <span id="score">0</span></p>
            <p>Essais restants : <span id="remaining-attempts">3</span></p>
        </div>
    </div>
    <a href="{{ url_for('contact') }}" class="contact-us-button">✉️Contactez-nous !</a>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <footer>
        <p>Copyright © 2025 C Quoi Le Jeu. Tous droits réservés. Version 1.2.1</p>
    </footer>
</body>
</html>
